@media (width > 768px) {
    header {
        column-gap: 490px;
        margin-top: 15px;
    }
    .letterbox {
        margin-right:350px;
        margin-top: 135px;
    }
    .lb1 {
        width: 339px;
    }
    .lb2 {
        width: 339px;
    }
    .button1 {
        width: 175px;
        height: 58px;
    }
    .button2 {
        width: 175px;
        height: 58px;
    }
    .key1 {
        height: 0px;
    }
    .lonekey {
        width: 100%;
        max-width: 600px;
        height: 400px;
        background-image: url(/assets/key1back.svg);
        background-repeat: no-repeat;
        background-position: right;
        margin-left: 168px;
        margin-top: -350px;
    }
    .key2 {
        width: 100%;
        max-width: 500px;
        height: 400px;
        background-image: url(/assets/key2back.svg);
        background-repeat: no-repeat;
        background:border-box;
        background-color: rgb(255, 0, 0);
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
    }
    .key3 {
        width: 100%;
        max-width: 500px;
        height: 400px;
        background-image: url(/assets/key3back.svg);
    }
    .letterbox2 {
        display: flex;
        column-gap: 46px;
    }
    .lb2-2 {
        width: 398px;
    }
    .lb2-1 {
        margin-left: -60px;
    }
    .lastbox { 
    margin-top: 157px;
    grid-template-areas:  'first second'
                          'third fourth';
    }
    .footertxt {
        margin-left: 240px;
    }
    .footertxt2 {
        position: absolute;
    }
}